<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>Alfred-codezm-workflows-timestamp-convert</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>D701289F-6669-44F0-88B6-1A72807B8353</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A57794D-FEAC-492C-BA57-CCBA6335D442</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1A986BB6-DACE-4FB1-BF7A-47BB7A2A3522</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>codezm</string>
	<key>description</key>
	<string>时间戳转换工具</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>TimeStamp Convert v2.0.0</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>say {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1A57794D-FEAC-492C-BA57-CCBA6335D442</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>35</integer>
				<key>keyword</key>
				<string>tc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>转换中...</string>
				<key>script</key>
				<string>/usr/bin/php timestamp.php "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>时间戳与时间互转工具</string>
				<key>title</key>
				<string>时间戳转换工具</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D701289F-6669-44F0-88B6-1A72807B8353</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1A986BB6-DACE-4FB1-BF7A-47BB7A2A3522</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>默认快捷键 `tc`, 查看当前时间格式

    - 展示当天时间信息 `tc n` 或者 `tc now` 
    - 当然你也可以使用 `tc tomorrow` `tc yesterday`
    - 将时间戳转换成日期格式, 反之亦然 `tc 1495276608` `tc 2017-05-20 18:52:46`
    - 选中某一项转换结果键入 `Enter` 即可复制, `Shift + Enter` 将发音.</string>
	<key>uidata</key>
	<dict>
		<key>1A57794D-FEAC-492C-BA57-CCBA6335D442</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>1A986BB6-DACE-4FB1-BF7A-47BB7A2A3522</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>D701289F-6669-44F0-88B6-1A72807B8353</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>150</real>
		</dict>
	</dict>
	<key>version</key>
	<string>2.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/codezm/Alfred-codezm-workflows-timestamp-convert</string>
</dict>
</plist>
